*.beam
*.ez
/build
erl_crash.dump
.env
.DS_Store
TODO.md
/load_test/generator_new/build
/src_old_version/build
/src_old_version/generator/build
/load_test/collector/collector
/load_test/collector/collector.exe